body {
  background-color: #476470;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;

}

p{
  font-size:50px;
}

button{
  background-color: #337ab7;
  padding: 5px 20px;
 border-style: none;
 color:  #fdffff;
 border-radius: 10px;
}

input{
  height:20px;
  border-radius: 10px;
}